@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

header {
	display: grid;
	grid-template-columns: 1fr 1140px 1fr;
	grid-template-rows: minmax(300px, auto) minmax(400px, auto);
	background: #5d8fb1 url("img/header.jpg") no-repeat 0 -100px;
	background-size: cover;
}

nav {
	grid-column: 2/3;
	height: 70px;
	display: flex;
	justify-content: space-between;
	
}

.nav-logo {
	align-self: flex-end;
	margin: 0 0 0 10px;
	font-size: 24px;
	font-weight: 500;
	color: white;
}

.main-nav {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav li {
	align-self: flex-end;
	margin-left: 50px;
}

.main-nav li:last-child {
	margin-right: 10px;
}

.main-nav a {
	text-decoration: none;
	font-weight: 400;
	color: white;
}

.nav-features {
	grid-column: 2/3;
	width: 300px;
	margin: 0 0 0 140px;
	padding: 0;
	list-style: none;
	color: white;
}

.nav-features h3 {
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}

.nav-features p {
	font-weight: 300;
	margin: 0 0 60px 0;
}

.button {
	padding: 12px 30px 13px 30px;
	border-radius: 30px;
	background-color: #f2b563;
	text-decoration: none;
	color: white;
}

.nav-features a {

}