@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500&display=swap&subset=cyrillic');

*:focus {
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	color: #323232;
}

body {
	display: grid;
	grid-template-columns: 1fr 1140px 1fr;
	grid-template-rows: minmax(700px, auto);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
	display: grid;
	grid-template-columns: 1fr 1140px 1fr;
	grid-template-rows: minmax(300px, auto) minmax(400px, auto);
	grid-column: 1/-1;
	background: #5d8fb1 url("../img/header.jpg") no-repeat 0 -100px;
	background-size: cover;
	box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.5);
}

main {
	grid-column: 2/3;
}

nav {
	grid-column: 2/3;
	height: 86px;
	display: flex;
	justify-content: space-between;
	
}

.nav-logo {
	align-self: flex-end;
	margin: 0;
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
	color: white;
}

.main-nav {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav li {
	align-self: flex-end;
	margin-left: 50px;
}

.main-nav a {
	text-decoration: none;
	font-weight: 400;
	color: white;
	transition: 0.4s;
}

.main-nav a:focus,
.main-nav a:hover {
	color: #f2b563;
}

.nav-features {
	grid-column: 2/3;
	width: 300px;
	margin: 0 0 0 100px;
	padding: 0;
	list-style: none;
	color: white;
}

.nav-features h3 {
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
}

.nav-features p {
	font-weight: 300;
	margin: 0 0 50px 0;
}

.button {
	padding: 12px 30px 13px 30px;
	border-radius: 50px;
	background-color: #f2b563;
	text-decoration: none;
	color: white;
}

/* .features {
	display: grid;
	grid-template-columns: 1fr 550px;
	grid-template-rows: 1fr 1fr;
}

.features h3 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
}

.features p {
	grid-column: 1/2;
	padding: 0 20px 0 0;
}

.features img {
	grid-column: -2/-1;
	grid-row: 1/-1;
	width: 550px;
	height: 300px;
} */

.wrapper h2 {
	display: inline-block;
	margin: 44px auto;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	/* text-transform: uppercase;
	color: #82a7c1; */
	border-bottom: 3px solid #f2b563;
}

.wrapper {
	display: flex;
}

.services {
	padding-bottom: 50px;
	background: #f9f9f9;
	box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.5);
}

.services h3 {
	display: inline-block;
	height: 50px;
	margin: 50px 0;
	padding: 0 20px 0 100px;
	font-size: 24px;
	font-weight: 400;
	line-height: 50px;
	color: #fff;
	background: #323232;
}

.services ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.services li:last-of-type p {
	margin-bottom: 0;
}

details {
  position: relative;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::before {
  content: "";
  position: absolute;
  left: 35px;
  background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=")
    no-repeat 50% 50% / 1.2em 1.2em;
  width: 2em;
  height: 2em;
  transition: transform 0.1s linear;
}

details[open] > summary ~ * {
  animation: open 5s ease;
}

details[open] summary:before {
  transform: rotate(90deg);
}

summary {
	padding: 0px 0 0px 100px;
	font-weight: 500;
	cursor: pointer;
}

summary:hover,
summary:focus {
  color: #f2b563;
}

summary span {
	float: right;
	padding-right: 50px;
}

details p {
	padding: 0 150px 0 100px;
	/* margin-right: 150px;
	margin-left: 100px; */
	font-size: 16px;
	line-height: 32px;
}

details p.gray {
	color: #969696;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
}

/* details li {
	position: relative;
}

details li::before {
  content: "";
	position: absolute;
	bottom: 0;
  left: 35px;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIGhlaWdodD0iMiIgd2lkdGg9IjciPgogIDxkZWZzPgogICAgPHBhdGggaWQ9InBhdGgtMSIgb3BhY2l0eT0iMSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMCwwIEw3LDAgTDcsMiBMMCwyIEwwLDBaIi8+CiAgPC9kZWZzPgogIDxnIG9wYWNpdHk9IjEiPgogICAgPHVzZSB4bGluazpocmVmPSIjcGF0aC0xIiBmaWxsPSJyZ2IoMCwwLDApIiBmaWxsLW9wYWNpdHk9IjEiLz4KICA8L2c+Cjwvc3ZnPg==")
		no-repeat 50% 50% / 0.055em 0.5em;
  width: 2em;
  height: 2em;
	transition: transform 0.1s linear;
} */

details li p {
	display: inline-block;
	font-style: italic;
}

details li span {
	float: right;
	margin-top: 1em;
	padding-right: 50px;
	font-size: 16px;
	line-height: 32px;
	/* font-style: italic; */
}

details li:first-of-type p,
details li:first-of-type span {
	margin-top: 0;
}

details li p,
details li span {
	margin-bottom: 0;
}

.services .line {
	margin: 35px 50px 35px 50px;
	border-bottom: 1px solid #323232;
	opacity: 0.2;
}

.articles ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 34px 25px;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

/* .articles li {
	background: #f9f9f9;
	box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.5);
} */

.articles a {
	text-decoration: none;
	color: #323232;
}

.articles h3 {
	margin: -8px 0 14px 0;
	font-size: 18px;
	font-weight: 500;
}

.articles img {
	vertical-align: bottom;
	/* display: block; */
	height: 200px;
	width: 100%;
	box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.5);
}

.articles p {
	/* margin-top: 4px; */
	font-size: 16px;
	line-height: 32px;
	font-weight: 400;
}

article p {
	font-size: 16px;
	line-height: 32px;
	font-weight: 400;
}

footer {
	grid-column: 1/-1;
	min-height: 200px;
	margin-top: 50px;
	background: #323232;
	box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.5);
}